<div class="background">
    <div class="table">
        <mat-grid-list cols="4" rowHeight="300px" gutterSize="10px">
            <table class="rwd-table">
                <tbody>
                    <tr>
                        <th>S.No.</th>
                        <th>Doctor Name</th>
                        <th>Date of Appointment</th>
                        <th>Disease</th>
                        <th>Prescription</th>
                        <th>Bill</th>
                    </tr>
                    <tr *ngFor="let patient of appointments; let i = index">
                        <td data-th="Supplier Code">
                            {{i+1}}
                        </td>
                        <td data-th="Supplier Name">
                            {{patient.docName}}
                        </td>
                        <td data-th="Invoice Number">
                            {{patient.doa}}
                        </td>
                        <td data-th="Invoice Date">
                            {{patient.Disease}}
                        </td>
                        <td data-th="Due Date">
                            {{patient?.prescription}}
                        </td>
                        <td data-th="Net Amount">
                            <button class="btn btn-success">paid</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <mat-grid-tile *ngFor="let patient of appointments ">

            <mat-card fxLayoutWrap="wrap" fxLayout="column" fxFlex="90%" fxLayoutGap="16px"
                style="min-width: 300px; min-height: 200px; background-color: rgb(175, 206, 240);">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>Doctor Name: {{ patient.docName }}<br>
                            Disease:{{patient.Disease}}<br>
                            Email:{{patient.docEmail}}
                        </mat-card-title>

                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    <P>
                        Patient Name:{{patient.patientName}} <br>
                        Patient Email:{{patient.patientEmail}}

                    </P>
                    <h2 style="color: green;">Appointment scheduled Successfully</h2>
                </mat-card-content>

            </mat-card>

        </mat-grid-tile> -->

        </mat-grid-list>
    </div>
</div>