button:hover {

    -webkit-box-shadow: 0px 0px 15px 5px rgba(190, 191, 255, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(190, 191, 255, 0.75);
    box-shadow: 0px 0px 15px 5px rgba(190, 191, 255, 0.75);
}