<div>
    <div mat-dialog-actions style="float:right">
        <button mat-raised-button (click)="onNoClick()">Close</button>
    </div>
<h1>Feedbacks and ratings</h1>
<h2><mat-icon>face</mat-icon>User1</h2>
<h3>Rating</h3>
<div>
    <mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon>
</div>
<h3>Review</h3>
<p>Thanks. It's a great place to book doctor's appointment.
    Really good website with good Doctor's list.
    I got instant appointment from one of the doctor for my health issue. 
    Doctor suggested me with good medication and explained the problem.</p>
<br>
<h2><mat-icon>face</mat-icon>User2</h2>
<h3>Rating</h3>
<div>
    <mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon>
</div>
<h3>Review</h3>
<p>Very Useful app for booking an appointment. Also, helps to maintain medical bills at one place.</p>
<br>
<h2><mat-icon>face</mat-icon>User3</h2>
<h3>Rating</h3>
<div>
    <mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon><mat-icon>star-rate</mat-icon>
</div>
<h3>Review</h3>
<p>Satisfied.</p>
</div>