<mat-nav-list>
    <div class="profile-card">
        <div class="header center">
            <h2>{{this.name|titlecase}}</h2>
            <h4>{{this.loggedinuseremail}}</h4>
        </div>
        <div class="profile">
            <img class="profile-photo" src="{{this.image}}" alt="Soufiane FADIL">
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 class="header left" matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="patient-profile">Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="patient-appointment-history">Appointments
        History</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="bookappointment">Book Appointment</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="logout()">Logout</a>

    <mat-divider></mat-divider>



</mat-nav-list>