<!-- <div>
    <mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav>
            <app-patient-sidebar></app-patient-sidebar>
        </mat-sidenav>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>

        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</div> -->
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-patient-sidebar></app-patient-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        <br>
        
    </mat-drawer-content>
    
</mat-drawer-container>