<app-header></app-header>
<div class="container" style="padding-top: 50px;">

    <div class="row">
    
        <div class="col-sm">
    
    <img
    
    src="https://media.istockphoto.com/photos/group-of-doctors-and-nurses-at-the-hospital-picture-id512143316?k=6&m=512143316&s=170667a&w=0&h=Sa2OCn0V6T-_prWPzi87wYVsoW6pCRg1raEyckhbEBk=">
    
    </div>
    
    <div class="col-sm">
    
        <mat-card>
    
            <mat-card-title>About our website</mat-card-title>
    
            <mat-card-content>
    
                We integrate various parts of the healthcare ecosystem and connects all of them.
    
                <h2>What we do?</h2>
    
                We are on a mission to make quality healthcare affordable and accessible for a billion+ Indians. We empower people with the information and care that they can trust to make better healthcare decisions every day.
    
               <h2>Our Team</h2>
    
               Aditi Jain
    
               <br>
    
               Prajwal Gurjar
    
               <br>
    
               Vikas Thakur
    
               <br>
    
               Swagat Mehta
    
               <br>
    
               Shreya Shrivastava
    
            </mat-card-content>
    
        </mat-card>
    
    </div>
    
    </div></div><br>
    <app-footer></app-footer>