<mat-toolbar color="primary" >
    <button mat-icon-button (click)="toggleSideBar()">
        <mat-icon>menu</mat-icon>
    </button>
 

     <span style="padding-left: 30px;">Online Doctor Appointement</span>

    <div style="float:right;padding-left: 400px;">

        <button mat-button routerLink=""><mat-icon>home</mat-icon>Home</button>

      <button mat-button routerLink="/about"><mat-icon>question_answer</mat-icon>About Us</button>

      <button mat-button routerLink="/bothcard" *ngIf="this.email == undefined"><mat-icon>person_add</mat-icon>Register</button>

    <button mat-button routerLink="/bothcard" *ngIf="this.email == undefined"><mat-icon>login</mat-icon>Login</button></div>

</mat-toolbar>

