<div class="card-container" >
    <div style="display: flex;">
<!-- <div>
    <mat-card class="example-card1" style="height: 400px; width: 400px; margin-top: 15% ; margin-left: 60px;">
    <mat-card-content>
        <div class="card" style="margin: 4px;">
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_q2ZQdAsWoxv82Q2nKLmsm6SzQ9bBquY87w&usqp=CAU" height="150px" width="150px">
            <h2 style="text-align: center;">Doctor</h2>
            <button mat-raised-button>Register</button>
        </div>
        
    </mat-card-content>
    
  </mat-card>
</div> -->
<div class="container">
    <div class="card" style="height: 400px; width: 400px; margin-left: 100px; margin-top: 40px;">
      <div class="imgBx">
        <img src="https://www.iconbunny.com/icons/media/catalog/product/2/1/2131.12-doctor-icon-iconbunny.jpg" style="height: 150px; width: 150px; margin-top: 10px; border-radius: 50%;">
      </div>
      <div class="contentDoctor">
        <h2>Doctor</h2>
        
        <a href="doctor-profile">Register</a>
      </div>
    </div>
  </div>





<!-- <div>
    <div>
        <mat-card class="example-card2" style="height: 400px; width: 400px; margin-top: 15% ; margin-left: 50px; background-color: lightblue;">
        <mat-card-content>
            <div class="card" style="margin: 4px;">
                <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbD_kpoWZffk3ifuWUxmFmi6QshM_Ru1e0Ww&usqp=CAU" height="150px" width="150px">
                <h2 style="text-align: center;">Patient</h2>
                <button mat-raised-button>Register</button>
            </div>
            
        </mat-card-content>
        
      </mat-card>
    </div>
     
</div> -->

<div class="container-p">
    <div class="card2" style="height: 400px; width: 400px; margin-right: 100px; margin-top: 40px;">
      <div class="imgpatient">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbD_kpoWZffk3ifuWUxmFmi6QshM_Ru1e0Ww&usqp=CAU" style="height: 150px; width: 150px; margin-top: 10px; border-radius: 50%;">
      </div>
      <div class="contentPatient">
        <h2>Patient</h2>
        
        <a href="register">Register</a>
      </div>
    </div>
  </div>
</div>
</div>