<app-header></app-header>
<div class="card-container" >
    <div style="display: flex;">

<div class="container">
    <div class="card" style="height: 400px; width: 400px; margin-left: 100px; margin-top: 40px;">
      <div class="imgBx">
        <img src="https://www.iconbunny.com/icons/media/catalog/product/2/1/2131.12-doctor-icon-iconbunny.jpg" style="height: 150px; width: 150px; margin-top: 10px; border-radius: 50%;">
      </div>
      <div class="contentDoctor">
        <h2>Doctor</h2>
        <br>
       
        <a href="doctor-profile">Register</a>
&nbsp;&nbsp;&nbsp;
        <a href="login-doctor">Login</a>
      </div>
    </div>
  </div>

<div class="container-p">
    <div class="card2" style="height: 400px; width: 400px; margin-right: 100px; margin-top: 40px;">
      <div class="imgpatient">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbD_kpoWZffk3ifuWUxmFmi6QshM_Ru1e0Ww&usqp=CAU" style="height: 150px; width: 150px; margin-top: 10px; border-radius: 50%;">
      </div>
      <div class="contentPatient">
        <h2>Patient</h2>
        <br>
        <a href="register">Register</a>
        &nbsp;&nbsp;&nbsp;
        <a href="login">Login</a>
      </div>
    </div>
  </div>
</div>
</div>

