<div class="patient-profile-background">
    <div class="patient-profile">
        <div>
            <mat-form-field class="custom-form-field">
                <mat-label>Patient Name</mat-label>
                <input matInput [(ngModel)]="this.pName" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="custom-form-field">
                <mat-label>Patient Email</mat-label>
                <input matInput [(ngModel)]="this.pEmail" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="custom-form-field">
                <mat-label>Patient DOB</mat-label>
                <input matInput [(ngModel)]="this.pDob" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="custom-form-field">
                <mat-label>Sex</mat-label>
                <input matInput [(ngModel)]="this.pSex" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="custom-form-field">
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="this.pAddres" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="custom-form-field">
                <mat-label>Age</mat-label>
                <input matInput [(ngModel)]="this.pAge" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="custom-form-field">
                <mat-label>Mobile</mat-label>
                <input matInput [(ngModel)]="this.pMobile" readonly>
            </mat-form-field>
        </div>
    </div>
</div>