<div class="background p-5">
    <mat-grid-list cols="4" rowHeight="500px" gutterSize="10px">

        <mat-grid-tile *ngFor="let doctor of doctors">

            <mat-card class="doctor" style="height: 430px;width: 350px;" >
                <img mat-card-image
                    src="{{doctor.docImage}}"
                    width="300px" height="200px">

                <mat-card-content>
                    <div class="DocSpec">
                        <h4>
                            {{doctor.docName}}<Br>
                            <small>{{doctor.specialization}}</small>
                        </h4>
                    </div>
                    <div class="patientData">
                        <h4>
                            Email: {{doctor.docEmail}}<br>
                            Mobile No: {{doctor.docPhone}}<br>
                            Address: {{doctor.docAddress}}
                        </h4>
                    </div>

                </mat-card-content>
                <div class="cardButton">
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="getId(doctor)">Book
                            Appointment</button>
                    </mat-card-actions>
                </div>

            </mat-card>

        </mat-grid-tile>

    </mat-grid-list>
</div>