
.example-container mat-form-field + mat-form-field {

  margin-left: 8px;

}



.example-right-align {

  text-align: right;

}



input.example-right-align::-webkit-outer-spin-button,

input.example-right-align::-webkit-inner-spin-button {

  display: none;

}



.form{

  text-align: center;

  border-radius: 2px;

margin-top: 0px;

  background-color: #ffffff51;

  width: 540px;

  height: 560px;

  margin-left: 0px;

 z-index: 2;

 border-radius: 25px;

 

 



}

.step{

background-image: url("https://cdn.mos.cms.futurecdn.net/dvNfjRyADTRpsvbSXmyDAj.jpg");

background-size: cover;

background-repeat: no-repeat;

padding: 25px;

overflow: hidden;










}






mat-card{



border: solid rgb(239, 239, 9);

border-radius: 2em;

box-shadow: 5px 5px;

background-color: rgba(22, 137, 186, 0.322);

-webkit-box-shadow: 0px 0px 15px 5px rgba(190, 242, 255, 0.75);

-moz-box-shadow: 0px 0px 15px 5px rgba(190, 242, 255, 0.75);

box-shadow: 0px 0px 15px 5px rgba(190, 242, 255, 0.75);

}

.block:hover{

height: 565px;

width: 58%;



}







.column {

float: left;

width: 50%;

padding: 10px;

height: 600px;

}