.tp-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 86%;
    background: #eee;
 }
 .tp-section {
    float: center;
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:130px;   
 }
 .sidenav{
    width:15%;
 }
img{
    width:90px;
    height:70px;
    border-radius: 50%;
}
a{
   color: black;
}
