<mat-card style="margin-top: 10px; max-width: 300px; background-color: rgb(175, 206, 240);">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-subtitle>{{specialization}}</mat-card-subtitle>
            <mat-card-title>{{ name }}</mat-card-title>
            <img style="height: 70px; width: 70px; border-radius: 50%;" mat-card-lg-image src={{profilePic}}>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>Email:{{Email}}<br>
            Mobile No:{{MobileNo}}
            Address:{{Address}}
        </p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="appointment" mat-raised-button color="primary">Book Appointment</button>
    </mat-card-actions>
</mat-card>

<mat-card style="margin-top: 10px; max-width: 300px; background-color: rgb(175, 206, 240);">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-subtitle>{{specialization}}</mat-card-subtitle>
            <mat-card-title>{{ name }}</mat-card-title>
            <img style="height: 70px; width: 70px; border-radius: 50%;" mat-card-lg-image src={{profilePic}}>
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>Email:{{Email}}<br>
            Mobile No:{{MobileNo}}
            Address:{{Address}}
        </p>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <button routerLink="appointment" mat-raised-button color="primary">Book Appointment</button>
    </mat-card-actions>
</mat-card>