<mat-progress-bar mode="determinate" [value]="x"></mat-progress-bar>
<div class="step"><br><br>
<div class="form">
    <h1> Patient Details </h1>
<form [formGroup]="empForm" >
<mat-form-field appearance="fill" style="margin-right: 10px;">
    <mat-label>PatientName</mat-label>
    <mat-icon matSuffix class="material-icon">people</mat-icon>
    <input matInput placeholder="Enter FirstName" formControlName = "patientName" (input)="pro()" >
    
    <mat-error *ngIf="empForm.controls['patientName'].invalid && empForm.controls['patientName'].hasError('required')">Enter your First Name</mat-error>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>LastName</mat-label>
    <mat-icon matSuffix class="material-icon">people</mat-icon>
    <input matInput placeholder="Enter LastName" formControlName = "LastName" (input)="pro()" >
    <mat-error *ngIf="empForm.controls['LastName'].invalid && empForm.controls['LastName'].hasError('required')">Enter Your Last Name</mat-error>
</mat-form-field>

<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <mat-icon matSuffix class="material-icon">email</mat-icon>
      <input matInput placeholder="pat@example.com" formControlName = "patientEmail" required (input)="pro()" [(ngModel)]="patientEmail">
      <mat-error *ngIf="empForm.controls['patientEmail'].invalid && empForm.controls['patientEmail'].hasError('required')">You must enter a valid email</mat-error>
    </mat-form-field>
 
  

<mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName = "password" (input)="pro()" [(ngModel)]="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="empForm.controls['password'].invalid && empForm.controls['password'].hasError('required')"> Valid Password only Alphabet & numeric </mat-error>
</mat-form-field>
</div>


<div>
<mat-form-field appearance="fill" style="margin-right: 10px;">
    <mat-label>Date of Birth</mat-label>
    <input matInput [matDatepicker]="picker" formControlName = "patientDob" (input)="pro()">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="empForm.controls['patientDob'].invalid && empForm.controls['patientDob'].hasError('required')">You must enter a value</mat-error>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Mobile No</mat-label>
    <mat-icon matSuffix class="material-icon">phone</mat-icon>
    <input matInput formControlName = "patientPhone" (input)="pro()" >
    <mat-error *ngIf="empForm.controls['patientPhone'].invalid && empForm.controls['patientPhone'].hasError('required')">You must enter a Mobile No.</mat-error>
</mat-form-field>
</div>
<div >

  
 <div style="width: 300px;margin-left: 250px;">
    <mat-radio-group aria-label="Select an option" formControlName = "patientGender" style="margin-left: 10px;" (input)="pro()">
        <mat-label>Gender</mat-label>
       
        <mat-radio-button value="M">Male</mat-radio-button>
        <mat-icon matSuffix class="material-icon">male</mat-icon>
        <mat-radio-button value="F">Female</mat-radio-button>
        <mat-icon matSuffix class="material-icon">female</mat-icon>
        <mat-error *ngIf="empForm.controls['patientGender'].hasError('required') && empForm.controls['patientGender'].touched">You must enter a value</mat-error>
      </mat-radio-group>
     </div>
</div>


<div>
    <mat-form-field appearance="fill" style="margin-right: 10px;">
        <mat-label>Age</mat-label>
        <mat-icon matSuffix class="material-icon">age</mat-icon>
        <input matInput formControlName = "patientAge" (input)="pro()" >
        <mat-error *ngIf="empForm.controls['patientAge'].invalid && empForm.controls['patientAge'].hasError('required')">You must enter a Age</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <mat-icon matSuffix class="material-icon">address</mat-icon>
        <input matInput formControlName = "patientAddress" (input)="pro()" >
        <mat-error *ngIf="empForm.controls['patientAddress'].invalid && empForm.controls['patientAddress'].hasError('required')">You must enter your Address</mat-error>
    </mat-form-field>
    </div>

    <div (click)="uploadFile.click()" >

        <button mat-raised-button color="primary">Choose File</button>
        <input #uploadFile (change)="upload($event)" type='file' style="display:none" formControlName="patientImage"/> 
     </div>

  <button mat-raised-button color="primary" style="margin-top: 20px;" (click)="register()">Submit</button><br>
<div>
    <a href="/login">Already Have An Account</a>
</div>
  

  
</form>
</div></div>