.content{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx7Ls6Kht_q0oBzZvnvmmuJHms4404tRUlMQ&usqp=CAU);
}
footer{
    float: right;
    width: 60%;

}
h1{
    float: right;
    width: 58%;

}